[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
langchain = "*"
openai = "*"
langchain-community = "*"
langchain-experimental = "*"
qrcode = "*"
pandas = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.12"
python-dotenv=1.0
